In [1]:
# 
# Author: Ricardo Castle
# Facebook: www.facebook.com/rcastledev
# Instagram: @ricardocodex
# Language: Python
# Name: Classificador de animais

# Importando a biblioteca pandas
import pandas as pd

# Carregando o dataset
datas = pd.read_csv("dogcat-dataset.csv")
datas.head()

   pelo_longo  perna_longa  orelha_pequena  faz_miau    animal
0           0            1               1         0  cachorro
1           1            1               1         0  cachorro
2           0            0               0         1      gato
3           1            0               1         1      gato
4           0            0               0         0  cachorro

In [2]:
# Alterando os valores da coluna animal, de letras para números
# Ou seja, o gato passa para 0, e o cachorro para 1 

troca = {
     "cachorro": 1,
     "gato": 0
 }
datas.animal = datas.animal.map(troca)
datas.head()

   pelo_longo  perna_longa  orelha_pequena  faz_miau  animal
0           0            1               1         0       1
1           1            1               1         0       1
2           0            0               0         1       0
3           1            0               1         1       0
4           0            0               0         0       1

In [3]:
x = datas[["pelo_longo", "perna_longa", "orelha_pequena", "faz_miau"]]
y = datas["animal"]

In [4]:
# Carregando bibliotecas necessárias o modelo
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
import numpy as bp

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size=0.25,
                                                       random_state=25)
model = LinearSVC()
model.fit(treino_x, treino_y)

previsoes = model.predict(teste_x)

accuracy = accuracy_score(teste_y, previsoes) * 100
print("A acurácia é de %.2f%%" % accuracy)

A acurácia é de 100.00%

In [5]:
# Testando o modelo com outros dados
# pelo_longo	perna_longa	orelha_pequena	faz_miau	animal

anim_mist1 = [1, 1, 0, 1]
anim_mist2 = [0, 0, 0, 0]

teste_animais = [anim_mist1, anim_mist2]

nova_prev = model.predict(teste_animais)
nova_prev

# Convertendo a saída binária para o nome dos animais
for i in range(0, len(nova_prev)):
    if i == nova_prev[i]:
        if i == 1:
            print("Cachorro")
        else:
            print("Gato")

Gato
Cachorro